.DS_Store
*~
library/Kernels/.env/
library/Kernels/*~
Tests/TestData/*
build
*.t7
OpenCLFuncs.cpp
OpenCLFuncs.h
tests/VGG_ILSVRC_19_layers.caffemodel
tests/VGG_ILSVRC_19_layers_deploy.prototxt
tests/VGG_ILSVRC_19_layers_deploy.prototxt.lua
samples/models/